@use '../site_variables.scss' as *;
.list {
  h2 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    letter-spacing: .5px;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    max-width: 900px;
  }
}

.list__hero {
  width: 100%;
  /* height: 33vh; */
  overflow: hidden;
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.45) 1px 1px 1px;
  transform: translateZ(0);
  img {
    object-fit: cover;
    object-position: 50% 50%;
    /* min-height: 100%; */
    margin-bottom: 0;
  }
  div {
    picture {
      opacity: 1;
      -webkit-transition: opacity .3s ease;
      transition: opacity 0.3s ease;
    }
  }
}

.list__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.25rem;
  transition: transform 0.3s ease-in-out;
  transform: translateZ(0);
}

.article {
  opacity: inherit;
  display: flex;
  flex-direction: column;
  /* min-height: 38vh; */
  margin-bottom: 0;
}

.link:hover {
  opacity: 1;
    picture {
      /* opacity: 0.8; */
      /* transition: opacity 0.3s ease; */
    }
}

@media (min-width: 768px) {
/*   .list {
    margin: 0 auto;
    max-width: $content-width;
  } */
  .article {
    min-height: 250px;
    /* height: 33.333vh; */
    align-items: center;
    flex-direction: row;
    transition: transform 0.3s ease;
  }
  .list__hero {
    /* height: 100%; */
    width: 25%;
    img {
      /* min-width: 100%;
      height: 100%;
      width: auto;
      min-height: 0; */
      /* max-width: 250px; */
    }
  }
  .list__info {
    /* min-width: 70%; */
    width: 75%;
  }
  .link {
    display: block;
    margin-bottom: 1.25rem;
  }
  .link:hover {
    .list__hero {
      transform: translateY(-0.1875rem) scale(1.02);
      box-shadow: hsla(0, 0%, 0%, 0.3) 0.4375rem 0.4375rem 16px;
    }
    .list__info {
        transform: translateX(.5rem);
    }
  }
}


@media (min-width: 1280px) {
  .list {
    .list__info {
      padding: 3rem;
    }
    h3 {
      margin-bottom: 1.2rem;
    }
  }
}
