.dark_toggle {
  height: 1.75rem;
  width: 1.75rem;
  padding: 0.35rem;
  
  background: hsl(0, 0%, 91%);
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 50%;
  cursor: pointer;
  &:focus {
    outline: none;
    border-color: hsl(0, 0%, 68%);
  }

  svg {
    position: relative;
    top: -1px;
    color: hsl(0deg 0% 44%);
  }
}