.dark_toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.75rem;
  width: 1.75rem;
  padding: 0.35rem;

  background: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 0%, 84%);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: hsl(0, 0%, 53%);
  }

  svg {
    color: hsl(0deg 0% 44%);
  }
}
