@use '../site_variables.scss' as *;

.footer_wrapper {
  background: hsl(0, 0%, 95%);
  border-top: 2px solid #d0d0d0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 0 auto;
  max-width: $container-width;
  padding: $container-pad;
}

.home_link {
  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  li {
    padding: 0 1rem;
    margin: 0;
  }

  svg {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .socialMedia {
    li {
      padding: 0 1.625rem;
    }
  }
}