@use '../site_variables.scss' as *;

body:global(.menuOpen) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: calc(100% + 0px);
  top: 0px;
}

.header_wrapper {
  box-sizing: border-box;
}

.header__nav {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  .site_title {
    margin-bottom: 0;
    font-weight: 300;
  }
  svg {
    height: 48px;
    width: 83px;
    fill: var(--color-text);
    /* object-fit: contain; */
  }

}

.nav_links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 1rem;
  opacity: 0;
  z-index: 10;
  
  .nav_link {
    font-size: 3rem;
    margin-bottom: .8rem;
  }
  button {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: .5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .nav_link,>button {
    transform: translateX(calc(-100% - 1rem));
    transition: transform .35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  >:nth-child(2){
    transition-delay: .1s;
  }
  >:nth-child(3){
    transition-delay: .25s;
  }
  >:nth-child(4){
    transition-delay: .35s;
  }

  &::before {
    content: '';
    /* display: none; */
    position: fixed;
    top: 100px;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: -1;
    background: hsl(0deg 0% 100% / 85%);
    backdrop-filter: blur(8px);
    transition: opacity .2s ease;
    /* transition-delay: 2s; */
  }

  &:global(.menuOpen) {
    opacity: 1;

    >.nav_link,>button {
      transform: translateX(0);
    }

    &::before {
      /* display: block; */
      left: 0;
      opacity: 1;
    }
  }
}

.menu_button {
  height: 30px;
	width: 30px;

	position: relative;
	/* right: 20px;
  top: 10px; */
  z-index: 101;
  
  background: none;
  border: 0;
  cursor: pointer;

  &:global(.menuOpen) {
		.menu_icon {
			height: 0;
			&::after, &::before {
				background-color: #757575;
				top: 1px;
			}
			&::after {
				transform: rotate(45deg);
			}
			&::before {
				transform: rotate(-45deg);
				width: 30px;
			}
		}
  }
  /* &:focus:not(:focus-visible) {
    outline: none
  } */
}

.menu_icon {
  background-color: var(--color-secondary);
  border-radius: 1px;
  height: 2px;
  width: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  &::after, &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 30px;

    background-color: var(--color-secondary);
    border-radius: 1px;
    //left: 50%;
    //margin-left: -15px;
    transition: all 200ms;
  }
  &::after {
    top: -7px;
  }
  &::before {
    bottom: -7px;
    width: 28px;
  }
}

@media (min-width: 768px) {
  .header_container {
    margin: 0 auto;
    max-width: $container-width;
    padding: $container-pad;
  }
  
  .header__nav {
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding: 1.5rem 0;
    
    /* border-right: 1px solid #EBEBEB; */ 
    border-bottom: none;

    img {
      margin-bottom: 0;
    }
  }

  .menu_button {
    display: none;
  }

  .nav_links {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    opacity: 1;

    .nav_link {
      margin-bottom: 0;
      margin-right: .8rem;
      font-size: ms(1);
      transform: none;
      transition: none;
    }
    >button {
      width: 1.75rem;
      height: 1.75rem;
      margin: 0;
      transform: none;
      transition: none;

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}
