/* @import '../reset.scss'; */
/* @import '../global.scss'; */
/* @import '../site_variables.scss'; -- @import is being deprecated by Sass */  
/* @use '../reset.scss'; */
/* @use '../global.scss'; */  /* Don't do this!  It triggers CSS Modules for classes in global.scss */
@use '../site_variables.scss' as *;

:global(.dark-theme) .layout {
  background-color: #000000;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: var(--color-background);
  transition: background-color .2s ease;

  &.info_page {
    /* color: #EBEBEB; */
  }
}

.main_wrapper {
  flex-grow: 1;
}

.main_container {
  padding: $container-pad;
  margin: 0 auto;
  /* max-width: $main-width; */
}

@media (min-width: 768px) {
  .layout {
    box-sizing: border-box;
  }
  .content {
    box-sizing: border-box;
  }
}
