@use '../site_variables.scss' as *;
/* @import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/effect-coverflow/effect-coverflow.scss'; */

.swiper-container {
  cursor: grab;
  max-width: calc(100vw - 64px);

  &:active {
    cursor: grabbing;
  }
  img,
  video {
    max-width: 100%;
  }
}

.swiper-slide {
  align-self: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  filter: drop-shadow(2px 2px 4px black);
}

.swiper-pagination {
  padding: 0.5rem 0;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: white;
  filter: drop-shadow(1px 1px 2px black);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiperDescription {
  padding: 0.5rem;

  p {
    font-size: ms(-1);
  }
}
