/* Youtube Embeded container--------------------- */
.youtubeEmbed {
  position: relative;

  // ::before for fixed aspect ratio
  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }

  &:hover {
    .youtubeIcon {
      fill: #f00;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0px;
    bottom: 44px;
    width: 100%;
    cursor: pointer;
    z-index: 10000;

    &.playing .youtubeIcon {
      opacity: 0;
    }
  }

  .youtubeIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 82px;
    margin-left: -39px;
    margin-top: -18px;
    fill: #000000c4;
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  }
}
