@use '../site_variables.scss' as *;
.about_page {
  /* background-color: var(--background-color); */
  /* color: #EBEBEB; */
  box-sizing: inherit;
}

.about_blurb {
  max-width: $content-width;
  /* padding: 1.5rem 1.25rem; */
  p {
    /* font-size: 1.125rem; */
  }
  h2 div p {
    margin-bottom: 1rem;
  }
}

.cta_box {
  background: #f5f5f5;
  margin-bottom: 2rem;
  padding: 2rem;
  border-left: 6px solid #ccc;
}

.contact_me_list {
  list-style: inside;

  li {
    font-size: ms(1);
    &:last-of-type {
      margin-bottom: 0;
    }
    >span {
      position: relative;
      left: -1rem;
    }
    a {
      border-bottom: dashed;
    }
  }
}

.resume_link {
  a {
    border-bottom: 2px dashed;
  }
  
}

.strong {
  font-size: ms(1);
}

@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $container-width;
    margin: 0 auto;
  }
  .about_blurb {
    flex: 1;
    padding: 0 2rem 0 0;
  }
  .aside {
    width: 300px;
    padding-left: 2rem;
    border-left: 2px solid #d5d5d5;

    .resume_link {
      margin: 3rem 0;

      svg {
        vertical-align: text-top;
      }
      a:hover {
        opacity: .6;
        svg {
          color: red;
        }
      }
    }

    .social_icon {
      margin-right: .5rem;
    }
  }
  .portrait {
    height: 200px;
    width: 200px;
    float: right;
    margin: 0 0 1rem 1rem;
  }
  .gears_pic {
    float: left;
    margin-right: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    height: 200px;
    width: 250px;
  }
}

@media(min-width: 1440px) {
  .about_blurb {

  }
}