@use './site_variables.scss' as *;

/* Theme--------------------------------------- */
:root {
  --border: #ededed;
  --color-background_gradient: radial-gradient(#ffffff, #b7b7b7);
}

.dark_mode {
}

/* General------------------------------------- */
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;

  color: var(--color-text);
  font-size: 16px;
  line-height: 1.3;
}
@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

a:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  text-decoration-color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}

*:focus:not(:focus-visible) {
  outline: none;
}

/* TYPOGRAPHY------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-family: "Work Sans","Helvetica Neue", Helvetica, sans-serif;
  font-family: "Raleway","Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Roboto Slab', serif; */
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 500;
}

$h1_power: 3;

h1 {
  font-size: ms($h1_power);
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: ms($h1_power - 1);
  letter-spacing: -0.75px;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: ms($h1_power - 2);
  letter-spacing: -0.5px;
  line-height: 1.1875;
  /* font-weight: normal; */
  margin-bottom: 0.5rem;
}

h4 {
  font-size: ms($h1_power - 3);
  font-weight: 400;
}

h5 {
  font-size: ms($h1_power - 4);
  font-weight: 500;
}

h6 {
  font-size: ms($h1_power - 5);
}

p {
  font-size: $base + rem;
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: var(--color-text);
}

label {
  font-weight: 500;
}

em {
  font-style: italic;
}

@media (min-width: 1280px) {
  h1 {
    /* font-size: 2rem; */
    letter-spacing: -1px;
    /* line-height: 1.1875; */
  }

  h2 {
    /* font-size: 1.5rem; */
    letter-spacing: -0.75px;
    /* line-height: 1.1667; */
  }

  h3 {
    letter-spacing: -0.5px;
    /* line-height: 1.1875; */
    /* color: #A0A0A0; */
    /* font-weight: normal; */
  }

  p {
    /* line-height: 1.4375; */
    /* line-height: 1.6; */
  }
}

/* Global Modifier Classes ---------------------- */
.width100 {
  width: 100%;
}

.twitter_icon,
.devto_icon,
.github_icon {
  height: 24px;
  width: 24px;
  vertical-align: text-bottom;
}

.twitter_embed {
  position: relative;
  max-width: 550px;
  margin-bottom: ms(2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 99%);
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 92%);
    animation: twitter_timeout 0.3s cubic-bezier(1, 0.01, 0.41, 1) 8s forwards;
  }
  &::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 0%;
    max-width: calc(100% - 20px);
    height: 4px;
    z-index: 2;
    background: hsl(0, 0%, 90%);
    border-radius: 4px;
    animation: twitter_loading_bar 0.6s cubic-bezier(1, 0.01, 0.41, 1) forwards,
      twitter_timeout 0.3s cubic-bezier(1, 0.01, 0.41, 1) 8s forwards;
  }
  &.twitter_rendered::before {
    animation: twitter_rendered 0.3s cubic-bezier(1, 0.01, 0.41, 1) forwards;
  }
  &.twitter_rendered::after {
    display: none;
  }

  > div:first-child {
    margin: 0 auto !important;

    > iframe {
      margin: 0 !important;
    }
  }
  blockquote {
    margin-top: 1rem;
  }
  > figcaption {
    margin-top: 0.5rem;
    font-size: ms(-1);
  }
}

/* .twitter-tweet {
  position: relative;
  max-width: 550px;
  margin-bottom: ms(2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 99.2%);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 3px;
    z-index: 2;
    background: hsl(0, 0%, 90%);
    animation: twitter_loading_bar .6s cubic-bezier(1,.01,.41,1);
    animation-fill-mode: forwards;
    border-radius: 2px;
  }
  &.twitter-tweet-rendered::before {
    animation: twitter_rendered .8s cubic-bezier(1,.01,.41,1);
    animation-fill-mode: forwards;
  }
  &.twitter-tweet-rendered::after {
    display: none;
  }
} */

@keyframes twitter_rendered {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes twitter_loading_bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes twitter_timeout {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/* gatsby-image plugin container----------------- */

.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
  /* min-height: 100%; */

  filter: var(--color-image_filter);
}

.gatsby-resp-image-figure {
  figcaption {
    margin-top: 0.5rem;
    font-size: ms(-1);
    text-align: center;
  }
}

/* gatsby-remark-prism -------------------- */
.gatsby-highlight {
  position: relative;
  margin-bottom: 1.45rem;
  border-radius: 0.3em;
  overflow: auto;
}

.gatsby-highlight-code-line {
  /* background-color: darken($color-gray, 30%); */
  display: block;
  margin-right: -1em !important;
  margin-left: -1em !important;
  padding-right: 1em;
  padding-left: 0.75em;
  /* border-left: 3px solid map-get($colors, primary); */
}

.gatsby-highlight pre[class*='language-'] {
  margin: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
  border-top: 5px solid #3084cc;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding-left: 2.4em;
}

.gatsby-highlight .line-numbers-rows {
  top: 1em;
  left: 0.5em !important; /* They added inline styles... yuk, but I had to override:
  https://github.com/gatsbyjs/gatsby/blob/104f2cc980a019e4d0234d6aad4248341ccfd3ec/packages/gatsby-remark-prismjs/src/add-line-numbers.js#L23 */
}

.line-numbers-rows > span:before {
  padding-right: 0.5rem;
}

.gatsby-highlight pre[class*='language-']:before {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  padding: 3px 10px;
  font-size: 12px;
  text-align: right;
  color: white;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  background: #3084cc;
}

.gatsby-highlight pre.language-css:before {
  content: 'css';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}

.gatsby-highlight pre.language-scss:before {
  content: 'Sass(scss)';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}

.gatsby-highlight pre.language-js:before {
  content: 'js';
  /* background: #ccc; */
  /* color: rgb(231, 156, 17); */
  font-weight: 400;
}

.gatsby-highlight pre.language-javascript:before {
  content: 'javascript';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}

.gatsby-highlight pre.language-bash:before {
  content: 'bash';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}

.gatsby-highlight pre.language-html:before {
  content: 'html';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}

.gatsby-highlight pre.language-json:before {
  content: 'json';
  /* background: map-get($colors, secondary); */
  /* color: getColor(whitish); */
  font-weight: 400;
}
