$container-width: 1100px;
$container-pad: 1rem;
$content-width: 800px;

/* Typography------------------------------------ */

// Modular Scale functions from Matej Latin
// 1. Base size and ratio
$base: 1.25; // = 20px
//$base: 1.1875;  // = 19px
$ratio: 1.333; // Perfect Fourth / 3:4 ratio
// $ratio: 1.414;

/* 2. The formula for modular scale is (ratio^value) × base, 
      so we need a power function */
@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number; //Multiply by $number if exponent less than zero
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number; //Divide by $number if exponent less than zero
    }
  }
  @return $value;
}
/* 3. Let's make it simpler to use by combining everything
      under one roof */
@function ms($value, $ms-ratio: $ratio, $ms-base: $base) {
  $size: pow($ms-ratio, $value) * $ms-base;
  @return #{$size + 'rem'};
}
